* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ===================== Navbar style start from here ===================== */

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 80px;
  position: fixed;
  top: 0px;
  flex-wrap: wrap;
  left: 0px;
  right: 0px;
  border-radius: 0px 25px;
  border-bottom: 1px solid transparent;
  padding: 0px 20px;
  width: 100%;
  background-color: #7b6ada;
  z-index: 100;
}

#navbar h1 {
  color: white;
  text-transform: uppercase;
}

#navbar .line1 {
  border: 1px solid rgb(255 255 255 / 50%);
  height: 50px;
}

#navbar .but1 {
  display: flex;
  align-items: center;
  position: relative;
}

#navbar .but1 input {
  border: 1px solid transparent;
  border-radius: 23px;
  height: 40px;
  width: 220px;
  color: white;
  font-size: 16px;
  background-color: #8879de;
  padding-left: 15px;
  padding-right: 35px;
}

#navbar .but1 input::placeholder {
  color: white;
  font-size: 16px;
  opacity: 0.5;
}

#navbar .but1 i {
  position: absolute;
  top: 11px;
  left: 192px;
  color: white;
  font-size: 1.2em;
}
#navbar nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

#navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

#navbar nav ul li a:hover {
  text-decoration: none;
  transition: background-color 0.3s;
  color: #cac3efce;
}

#bars i {
  color: white;
  font-size: 11.3em;
  position: absolute;
  z-index: 1912;
  top: 0;
}
#bars {
  display: none;
}

#check {
  display: none;
}

/* ===================== Navbar style ends here ===================== */

/* ===================== Section first page strats here ===================== */

#firstpage {
  background-image: url(./images/firstpageback.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 170vh;
  min-height: 100vh;
  padding-top: 80px;
  border-radius: 0 0 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#firstpage .mainbox {
  border: 1px solid transparent;
  margin-top: 0;
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  flex-wrap: wrap;
}

#firstpage .mainbox .box2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  color: white;
  left: 260px;
  height: 560px;
  width: 560px;
  gap: 40px;
  padding-left: 50px;
}

#firstpage img {
  padding-left: 0px;
  height: 795px;
  width: 935px;
  border-radius: 42px;
  margin-left: 180px;
}

#firstpage .mainbox .box2 .butt1 {
  border: 1px solid transparent;
  border-radius: 23px;
  padding: 12px;
  background-color: #7b6ada;
  color: white;
  text-transform: uppercase;
}
#firstpage .mainbox .box2 h1 {
  font-size: 60px;
  font-family: monospace;
}

#firstpage .mainbox .box2 p {
  font-family: monospace;
  line-height: 1.5;
}

#firstpage .mainbox .box2 .box3 {
  display: flex;
  align-items: center;
  gap: 35px;
}

#firstpage .mainbox .box2 .box3 .butt2 {
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 13px 22px;
  color: #2d11c7;
}
#firstpage .mainbox .box2 .box3 i {
  border: 1px solid transparent;
  background-color: white;
  border-radius: 26px;
  padding: 12px 15px;
  color: #7b6ada;
}

/* ===================== Section first page ends here ===================== */

/* ===================== Section second page strats here ===================== */

#secondpage .page2 {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: 100vh;
}

#secondpage .page2 .pagebox {
  width: 260px;
  height: 347px;
  margin-top: 250px;
  border: 1px solid transparent;
  box-shadow: -9px 7px 18px -2px #000000cf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 33px;
  padding-top: 48px;
  background-color: #f1f0fe;
  border-radius: 25px;
}

#secondpage .page2 .page2con {
  width: 100vw;
  height: 200vh;
  /* background-color: #8097ab; */
  display: flex;
  justify-content: center;
  gap: 115px;
}
#secondpage .page2 .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: #2d11c7;
}

#secondpage .page2 .pagebox h3 {
  font-size: 25px;
  padding-left: 20px;
  font-family: monospace;
}

#secondpage .page2 .pagebox p {
  font-family: monospace;
  font-size: 14px;
  padding-left: 20px;
  line-height: 1.5;
}

#secondpage .page2 .pagebox button {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 26px;
  height: 39px;
  margin-left: 20px;
  color: #7b6ada;
  width: 135px;
  font-weight: bold;
}

#secondpage .page2 .circle1 {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  background-color: #7a6ad8;
  position: absolute;
  display: inline-block;
  text-align: center;
  line-height: 248px;
  left: 263px;
  top: 1244px;
}
#secondpage .page2 .circle2 {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  background-color: #7a6ad8;
  position: absolute;
  display: inline-block;
  text-align: center;
  line-height: 248px;
  left: 643px;
  top: 1244px;
}
#secondpage .page2 .circle3 {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  background-color: #7a6ad8;
  position: absolute;
  display: inline-block;
  text-align: center;
  line-height: 248px;
  left: 1015px;
  top: 1244px;
}

#secondpage .page2 .pagebox button:hover {
  transform: scale(1.06);
  transition: transform 0.5s ease;
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.3);
  background-color: #7a6ad8;
  color: white;
}
/* ===================== Section second page ends here ===================== */

/* ===================== Section third page strats here ===================== */

#thirdpage {
  width: 100%;
  min-height: 100vh;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thirdpage .thirdcon1 {
  border: 1px solid transparent;
  width: auto;
  max-width: 600px;
  height: auto;
  padding: 85px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  text-align: center;
  background-color: #7a6ad8;
  border-radius: 40px;
  margin-left: 100px;
}

#thirdpage .thirdcon {
  width: 100vw;
  height: auto;
  display: flex;
}

#thirdpage .thirdcon1 .textbox {
  border: 1px solid transparent;
  padding: 15px;
  font-size: 1.3em;
  font-family: monospace;
  background-color: #fff;
  border-radius: 38px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

#thirdpage .thirdcon2 {
  border: 1px solid transparent;
  width: 80%;
  max-width: 700px;
  height: 80vh;
  padding: 85px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  text-align: center;

  /* #f1f0fe */
}

#thirdpage .thirdcon1 .textbox .plusicon {
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #7a6ad8;
  color: white;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thirdpage .thirdcon2 img {
  height: 500px;
  border-radius: 60px;
  margin-left: 100px;
}

/* ===================== Section fourth page strats here ===================== */

#fourthpage {
  width: 100%;
  min-height: 100vh;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a6e3b3;
}

#fourthpage .fourthcon {
  height: auto;
  width: auto;
  background-color: rgb(226, 123, 214);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  top: 0;
  /* padding: 99px; */
}

#fourthpage .fourthcon .fotext {
  color: #7a6ad8;
  font-size: 18px;
  font-family: monospace;
  text-transform: uppercase;
}

#fourthpage .fourthcon h1 {
  font-size: 43px;
  font-family: monospace;
}

#fourthpage .fourthcon .coursebar {
  /* width: auto;
  height: auto; */
  background-color: #f1f0fe;
  border: 1px solid transparent;
  width: 633px;
  height: 64px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

#fourthpage .fourthcon .coursebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-weight: bold;
}

#fourthpage .fourthcon .coursebar ul li {
  font-family: monospace;
  font-size: 18px;
  list-style: none;
}

#fourthpage .fourthcon .coursegrid {
  height: auto;
  width: auto;
  background-color: #1f552b;
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
}

#fourthpage .fourthcon .coursegrid .imgbox {
  height: 327px;
  width: 342px;
  background-color: #f1f0fe;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 35px;
}

#fourthpage .fourthcon .coursegrid .imgbox img {
  width: 28vw;
  height: 231px;
  border-radius: 25px;
}

#fourthpage .fourthcon .coursegrid .imgbox .imgtext {
  /* background-color: aquamarine; */
  height: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

#fourthpage .fourthcon .coursegrid .imgbox .imgtext div {
  color: #8879de;
}

#fourthpage .fourthcon .coursegrid .imgbox .imgtext h3 {
  font-size: 21px;
}

#fourthpage {
}

#fourthpage {
}

/* ========== Starting of media query from here to make webpage responsive ========== */

@media (max-width: 430px) {
  #bars {
    display: block;
    position: fixed;
    top: 15px;
    right: 90px;
    z-index: 1035;
    font-size: 5px;
  }

  #navbar {
    height: 100px;
  }

  #navbar nav ul {
    display: none;
  }

  #navbar h1 {
    font-size: 60px;
  }

  #navbar .but1 input {
    display: none;
  }

  #navbar .but1 i {
    display: none;
  }

  #navbar .line1 {
    margin-left: -180px;
  }

  #check:checked ~ #navbar nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 220px;
    position: absolute;
    left: 0%;
    top: 70px;
    background-color: #7a6ad8;
    padding-left: 520px;
    padding-top: 20px;
  }
}

/* home page ke liye */

@media (max-width: 430px) {
  #firstpage {
    width: 100vw;
    height: 257vh;
    padding-top: 80px;
    border-radius: 0 0 200px 0;
  }

  #firstpage img {
    width: 191vw;
    margin-right: -639px;
    margin-top: -449px;
    width: 189vw;
    margin-right: -715px;
    margin-top: -12px;
    height: 650px;
  }

  #secondpage .page2 .page2con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    width: 120%;
    height: 100vh;
  }
  #secondpage .page2 .circle1 {
    height: 160px;
    top: 1052px;
    width: 160px;
  }

  #secondpage .page2 .circle2 {
    height: 160px;
    top: 1052px;
    width: 160px;
  }
  #secondpage .page2 .circle3 {
    height: 160px;
    top: 1052px;
    width: 160px;
  }

  #thirdpage .thirdcon2 img {
    margin-top: 232px;
  }

  /* third page start */

  #thirdpage {
    margin-top: 287px;
    width: 275vw;
    height: auto;
  }

  #thirdpage .thirdcon {
    width: auto;
    height: auto;
  }
  #thirdpage .thirdcon1 {
    height: auto;
  }

  #thirdpage .thirdcon1 .textbox {
    font-size: 1.2em;
    width: 288px;
  }
}
