* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* for trial only */
/* body {
  background-color: #7b6ada;
} */
/* trial ends here */

/* Navbar style start from here */

#head1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 120px;
  position: absolute;
  /* top: 20px; */
  /* background-color: aqua; */
  padding: 0px 60px;
  width: 100%;
}

#head1 h1 {
  color: white;
  text-transform: uppercase;
}

#head1 .line1 {
  border: 1px solid rgb(255 255 255 / 50%);
  height: 50px;
}

#head1 .but1 input {
  border: 1px solid transparent;
  border-radius: 23px;
  height: 45px;
  width: 250px;
  color: white;
  font-size: 16px;
  background-color: #8879de;
  padding-left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#head1 .but1 input::placeholder {
  color: white;
  font-size: 16px;
  opacity: 0.5;
}

#head1 .but1 i {
  position: absolute;
  top: 53px;
  left: 480px;
}
#head1 nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

#head1 nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

#head1 nav ul li a:hover {
  text-decoration: none;
  transition: background-color 0.3s;
  color: #cac3efce;
}

/* here i have to target all the hyperlink in future */
/* Navbar style ends here */

/* main first section page start fron here */

#firstpage {
  width: 100%;
  height: 1041px;
  background-image: url(./images/firstpageback.jpg);
  background-position: right bottom;
  background-size: cover;
}

#firstpage .mainbox .box2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  color: white;
  left: 245px;
  height: 560px;
  width: 560px;
  gap: 40px;
  padding-left: 50px;
}

#firstpage img {
  padding-left: 146px;
  height: 800px;
  width: 1123px;
  border-radius: 25px;
}

#firstpage .mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  position: relative;
  top: 140px;
  width: 100%;
}

#firstpage .mainbox .box2 .butt1 {
  border: 1px solid transparent;
  border-radius: 23px;
  padding: 12px;
  background-color: #7b6ada;
  color: white;
  text-transform: uppercase;
}
#firstpage .mainbox .box2 h1 {
  font-size: 60px;
  font-family: monospace;
}

#firstpage .mainbox .box2 p {
  font-family: monospace;
  line-height: 1.5;
}

#firstpage .mainbox .box2 .box3 {
  display: flex;
  align-items: center;
  gap: 35px;
}

#firstpage .mainbox .box2 .box3 .butt2 {
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 13px 22px;
  color: #2d11c7;
}
#firstpage .mainbox .box2 .box3 i {
  border: 1px solid transparent;
  background-color: white;
  border-radius: 26px;
  padding: 12px 15px;
  color: #7b6ada;
}
